@import (reference) '../../../assets/stylesheets/shared/main.less';

@headerBg: #030303;
@headerTextColor: #fff;
@steelBlue: #39a5dc;

.stack-report {
  .nav-bar {
    border: none;
    background-color: @headerBg;
    .nav-item {
      margin-left: 8px;
      display: inline-block;
      font-weight: bold;
      color: @headerTextColor;
    }
  }
  /** Changes for the stack report design revamp latest */
  .modal-header {
    background-color: @headerBg;
    color: @headerTextColor;
    .close {
        font-size: 50px;
        padding: 0;
        position: absolute;
        right: 10px;
        top: 0;
        font-weight: 100;
        color: @headerTextColor;
    }
  }
  // .modal-body {
  //   padding: unset;

    .tab-container {
      .nav-tabs {
        border: none;
        background: @headerBg;
        color: @headerTextColor;
        .active-menu-item {
          .nav-link {
            &.active {
              background-color: inherit;
              color: inherit;
              border: none;
              box-shadow: inset -10px -14px 0px -10px @steelBlue;
            }
          }
        }
        li {
          a {
            border: 0;
            &:hover {
              border: 0;
              color: inherit;
            }
          }
        }
      }
      .icon-moderate:before {
          color: #f5a625;
        }
        .icon-severe:before {
          color: #d1011c;
        }
    }
 // }
  /** Changes for the stack report design revamp latest */




  .stack-reports-btn { cursor: pointer; }
  .modal-width-class { width: 95%; }
  .accordion-indicator {
    top: unset;
    margin-left: 10px;
  }
  .active-menu-item {
    .nav-link {
      &.active {
        color: #000;
        font-weight: bold;
      }
    }
  }
  .pre-loader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, .5);
    z-index: 99;
    .pre-loader-spinner {
      top: 50%;
    }
  }
  .error-msg {
    text-align: center;
    background: @color-pf-white;
    border: none;
    .warning-icon {
      font-size: 6em;
      i:before {
        color: @color-pf-black-500;
      }
    }
    .container-progress {
      width: 50%;
      margin: 0 auto;
    }
  }
  .accordion-custom { cursor: pointer; }
  .card.accordion-custom .card-header {
    background: #6fc0f9;
    color: @color-pf-white;
    cursor: pointer;
    .accordion-heading { float: left; }
    .accordion-sub-heading {
      float: right;
      color: @color-pf-black;
    }
    &:after {
      content: '';
      clear: both;
      float: none;
      display: block;
    }
  }
  .error-wrapper {
    position: relative;
    height: 80%;
    width: 50%;
    margin: 5% auto;
    .error-image {
      .display-icon { font-size: 10vw; }
      .not-found-class { color: #ff1f1c; }
      .warning-class { color: #fb8c00; }
      .progress-class { color: #3b5998; }
    }
    .error-container { position: relative; }
  }
}
.custom-tooltip {
  position: relative;
  display: block;
  cursor: pointer;
  .custom-tooltip-wrapper {
      display: inline-flex;
      flex-direction: column;
      visibility: hidden;
      background-color: #eee3e3;
      padding: 6px 2px 4px;
      color: #b1a5a5;
      text-align: center;
      box-sizing: border-box;
      line-height: 1.2em;
      border-radius: 6px;
      border: 1px solid #e9c0c0;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: -25px;
      opacity: 0;
      transition: .3s;
      transform: translateY(-25px);
      &:before {
        content: '';
        position: absolute;
        left: 43px;
        top: -6px;
        margin-left: auto;
        margin-right: auto;
        width: 10px;
        height: 10px;
        background-color: #eee3e3;
        border-left: 1px solid #e9c0c0;
        border-top: 1px solid #e9c0c0;
        transform: rotate(45deg);
    }
  }
  &:hover {
      .custom-tooltip-wrapper {
          visibility: visible;
          opacity: 1;
          transform: translateY(0px);
      }
  }
  .no-wrap {
      white-space: nowrap;
  }
  .custom-tooltip-text {
      font-size: 10px;
      padding: 0px 5px;
  }
  .head {
      color: sienna;
      padding: 0 2px;
  }
  .score {
      color: #4f5a64;
      padding: 0 2px;
      font-weight: bold;
  }
  .url {
      padding: 0 2px;
  }
  .footer {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .click {
      text-align: center;
      color: #4f5a64;
      font-size: 10px;
  }
  .mar {
    margin: 5px;
  }
}